# Highest Grossing Movies Exercise - Solutions

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [Highest Holywood Grossing Movies Dataset](https://www.kaggle.com/sanjeetsinghnaik/top-1000-highest-grossing-movies) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [1]:
import pandas as pd

**Read Highest Holywood Grossing Movies.csv as a dataframe called movies.**

In [2]:
df = pd.read_csv('Highest Holywood Grossing Movies.csv')
df.drop("Unnamed: 0",axis=1, inplace = True)
df.rename(columns ={'Domestic Sales (in $)':'Domestic_sales', 'International Sales (in $)': 'International_sales', 'World Sales (in $)': 'World_sales'}, inplace = True)

**Check the head of the DataFrame.**

In [3]:
df.head()

,Title,Movie Info,Distributor,Release Date,Domestic_sales,International_sales,World_sales,Genre,Movie Runtime,License
0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN

**How many rows and columns are there?**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                918 non-null    object
 1   Movie Info           918 non-null    object
 2   Distributor          918 non-null    object
 3   Release Date         800 non-null    object
 4   Domestic_sales       918 non-null    int64
 5   International_sales  918 non-null    int64
 6   World_sales          918 non-null    int64
 7   Genre                918 non-null    object
 8   Movie Runtime        918 non-null    object
 9   License              744 non-null    object
dtypes: int64(3), object(7)
memory usage: 71.8+ KB

**Use the .describe() method to get some statistics for the numeric columns of the data**

In [5]:
df.describe()

       Domestic_sales  International_sales   World_sales
count    9.180000e+02         9.180000e+02  9.180000e+02
mean     1.677469e+08         2.301434e+08  3.968668e+08
std      1.040360e+08         2.176011e+08  3.082629e+08
min      8.036084e+07         2.600000e+02  8.160000e+07
25%      1.016071e+08         8.845620e+07  2.005564e+08
50%      1.321351e+08         1.638819e+08  3.019416e+08
75%      1.913905e+08         2.885577e+08  4.750718e+08
max      9.366622e+08         2.086739e+09  2.847246e+09

**Replace null values of License with most repeated License**

In [6]:
most_repeated_license = df['License'].value_counts().head(1).index.tolist()
# print(most_repeated_license[0])

df["License"].fillna(most_repeated_license[0], inplace = True)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                918 non-null    object
 1   Movie Info           918 non-null    object
 2   Distributor          918 non-null    object
 3   Release Date         800 non-null    object
 4   Domestic_sales       918 non-null    int64
 5   International_sales  918 non-null    int64
 6   World_sales          918 non-null    int64
 7   Genre                918 non-null    object
 8   Movie Runtime        918 non-null    object
 9   License              918 non-null    object
dtypes: int64(3), object(7)
memory usage: 71.8+ KB

,Title,Movie Info,Distributor,Release Date,Domestic_sales,International_sales,World_sales,Genre,Movie Runtime,License
0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,PG-13
4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,PG-13

**Drop films with missing Release Date**

In [7]:
df.dropna(axis=0, subset=['Release Date'], inplace = True )
df['Release Date'].isnull()

0      False
1      False
2      False
6      False
7      False
       ...
913    False
914    False
915    False
916    False
917    False
Name: Release Date, Length: 800, dtype: bool

**Check if there is any missing values or not**

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 917
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                800 non-null    object
 1   Movie Info           800 non-null    object
 2   Distributor          800 non-null    object
 3   Release Date         800 non-null    object
 4   Domestic_sales       800 non-null    int64
 5   International_sales  800 non-null    int64
 6   World_sales          800 non-null    int64
 7   Genre                800 non-null    object
 8   Movie Runtime        800 non-null    object
 9   License              800 non-null    object
dtypes: int64(3), object(7)
memory usage: 68.8+ KB

**what are the average International Sales?**

In [9]:
df['International_sales'].mean()

231525192.4425

**what are the highest and lowest World Sales?**

In [10]:
df['World_sales'].max()

2847246203

In [11]:
df['World_sales'].min()

82604699

**How many films have been distributed by 'DreamWorks'?**

In [12]:
df[df['Distributor'] =='DreamWorks' ]['Title'].count()

19

**What are the top 5 common distributer?**
**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )**

In [13]:
df['Distributor'].value_counts().head(5)

Warner Bros.                           131
Walt Disney Studios Motion Pictures    116
Universal Pictures                     114
Twentieth Century Fox                  107
Sony Pictures Entertainment (SPE)       97
Name: Distributor, dtype: int64

**How many films have licence 'PG-13' and disributed by 'Universal Pictures'**

In [14]:
df[(df['Distributor'] =='Universal Pictures') & (df['License'] == 'PG-13')]['Title'].count()

64

**How many films released in 2017?**

In [15]:
df['Release Date'] = pd.to_datetime(df['Release Date'])
df[df['Release Date'].dt.year== 2017]['Title'].count()

32

**How many movies have 'Action' and 'Adventure' Genre?** 
**(Hint: Check out [eval()](https://www.w3schools.com/python/ref_func_eval.asp) )**

In [16]:
# df[df['Genre']== 'Action' and 'Adventure']['Title'].count()
df['Genre'].apply(lambda x:'Action' and'Adventure' in x ).value_counts()
# df['Genre'].value_counts()

False    429
True     371
Name: Genre, dtype: int64

**What is the  film title with Longest runtime?**

In [17]:
def split_runtime(runtime,typ):
    lst=runtime.split(' ')
    if typ=='hr':
        return int(lst[0])
    elif (typ=='min') and (len(lst)>2):
        return int(lst[2])
    else:
        return 0

In [18]:
df['hours']=df['Movie Runtime'].apply(lambda x : split_runtime(x,'hr'))

In [19]:
df['minutes']=df['Movie Runtime'].apply(lambda x : split_runtime(x,'min'))

In [20]:
df['total_time']= df['hours']*60 + df['minutes']

In [21]:
df.tail()

,Title,Movie Info,Distributor,Release Date,Domestic_sales,International_sales,World_sales,Genre,Movie Runtime,License,hours,minutes,total_time
913,The Notebook (2004),A poor yet passionate young man falls in love ...,New Line Cinema,2004-06-25,81001787,36813370,117815157,"['Drama', 'Romance']",2 hr 3 min,PG-13,2,3,123
914,Jimmy Neutron: Boy Genius (2001),An eight-year-old boy genius and his friends m...,Paramount Pictures,2001-12-21,80936232,22056304,102992536,"['Action', 'Adventure', 'Animation', 'Comedy',...",1 hr 22 min,PG-13,1,22,82
915,Eat Pray Love (2010),A married woman realizes how unhappy her marri...,Sony Pictures Entertainment (SPE),2010-08-13,80574010,124020006,204594016,"['Biography', 'Drama', 'Romance']",2 hr 13 min,PG-13,2,13,133
916,The Texas Chainsaw Massacre (2003),After picking up a traumatized young hitchhike...,New Line Cinema,2003-10-17,80571655,26792250,107363905,"['Crime', 'Horror']",1 hr 38 min,R,1,38,98
917,Zookeeper (2011),A group of zoo animals decide to break their c...,Sony Pictures Entertainment (SPE),2011-07-06,80360843,89491916,169852759,"['Comedy', 'Family', 'Fantasy', 'Romance']",1 hr 42 min,PG,1,42,102

In [22]:
# df[df['minutes']==df['minutes'].max()]
# df.groupby('Title').max()['hours'].sort_values()

df.groupby('total_time').max()['Title'].tail(1)

total_time
201    The Lord of the Rings: The Return of the King ...
Name: Title, dtype: object

**What is the  film title with Shortest runtime?**

In [23]:
df.groupby('total_time')['Title'].min().head(1)

total_time
78    Inspector Gadget (1999)
Name: Title, dtype: object

# Great Job!